<mat-toolbar color="primary" class="shadow">
  <mat-toolbar-row>
      <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Check voicemail</span>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button>
        </mat-menu>

    <span class="title">{{title}}</span>
    <span class="space"></span>
    <span class="">
      <i class="material-icons">face</i>     Welcome, Erika!</span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span></span>
    <div class="searchContent">
      <span>
          <mat-form-field appearance="fill">
            <mat-label>Search Term</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
        </span>
        <span>
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Start date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
        </span>
        <span>
            <mat-form-field>
                <input matInput [matDatepicker]="picker2" placeholder="End date">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
        </span>        
        <span>
            <button mat-raised-button>Filter</button>
        </span>
      </div>
    <span></span>
  </mat-toolbar-row>
</mat-toolbar>