.title {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

.searchContent {
    display: inline-block;
    margin-left: 600px;
    font-size: 13px;
    align-content: center;
    align-items: center;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  .shadow:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }