<mat-drawer-container class="example-container">
    <mat-drawer class="drawer" mode="side" opened>
          <mat-list>
              <mat-list-item>
                <i class="material-icons icon-list">
                    people
                </i>  Advisors</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <i class="material-icons icon-list">
                  highlight
                </i>  What's New?</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <i class="material-icons icon-list">
                    whatshot
                </i>  Popular</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <i class="material-icons icon-list">
                    feedback
                </i>  Topics</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                  <i class="material-icons icon-list">
                      event
                  </i>  Events</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <i class="material-icons icon-list">
                    calendar_today
                </i>  Calendar</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                  <i class="material-icons icon-list">
                      favorite
                    </i>  Favorites</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                  <i class="material-icons icon-list">
                      face
                  </i>  My Profile</mat-list-item>
              <mat-divider></mat-divider>
            </mat-list>
            <div style="height:25px;"></div>
            <mat-form-field class="example-chip-list">
                <mat-chip-list #chipList>
                  <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable"
                           [removable]="removable" (removed)="remove(fruit)">
                    {{fruit.name}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input placeholder="New fruit..."
                         [matChipInputFor]="chipList"
                         [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                         [matChipInputAddOnBlur]="addOnBlur"
                         (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
              </mat-form-field>
    </mat-drawer>

    <mat-drawer-content>
        <mat-grid-list cols="4" rowHeight="33em">
            <mat-grid-tile>
                <app-topic-card></app-topic-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <app-topic-card></app-topic-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <app-topic-card></app-topic-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <app-topic-card></app-topic-card>
            </mat-grid-tile>

            <mat-grid-tile>
                <app-topic-card></app-topic-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <app-topic-card></app-topic-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <app-topic-card></app-topic-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <app-topic-card></app-topic-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <app-topic-card></app-topic-card>
            </mat-grid-tile>

            <mat-grid-tile>
                <app-topic-card></app-topic-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <app-topic-card></app-topic-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <app-topic-card></app-topic-card>
            </mat-grid-tile>
          </mat-grid-list>
    </mat-drawer-content>
  </mat-drawer-container>

  