/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "assets/styles/card.css";

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}